Repository keishi-hashimoto/20251002-apigw-lambda-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, type checking

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: actionlint-system
        name: Lint GitHub Actions workflow files
        description: Runs system-installed actionlint to lint GitHub Actions workflow files
        language: system
        types: ["yaml"]
        files: ^\.github/workflows/
        entry: actionlint
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.13.2
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: type checking
        name: type checking
        language: system
        entry: uv run mypy .
        types: ["python"]
        pass_filenames: false # あるファイルの変更が他のファイルに影響するかもしれないので、差分が無かったファイルもチェックする
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        language: system
        entry: uv run pytest
        stages: ["pre-push"]
        types: ["python"]
        always_run: true
        pass_filenames: false

🚢 main ブランチへの push 時にデプロイを行うワークフローを作成
  .env.sample
  .github/workflows/deploy.yaml
  .gitignore
  mise.toml
Due: actionlint-system

🆙 ユーザー入力のバリデーション用に pydantic[email] をインストール
  pyproject.toml
  uv.lock
Due: none

✨ ユーザー入力を表現する Pydantic model を定義
  src/my_func.py
Due: type checking

✨ バリデーション部分を Envelop を用いて書き換え
  src/my_func.py
Due: type checking

✨ レスポンスにユーザー入力を含めるように修正
  src/my_func.py
Due: type checking

💚 自動テスト修正
  tests/test_sample.py
Due: type checking

🆙 boto3 と boto3-stub を追加
  pyproject.toml
  uv.lock
  vendored/boto3_stubs_custom-1.40.45-py3-none-any.whl
Due: none

💚 テストコードを mise を利用したものに変更
  .env.test
  mise.toml
Due: none

🎬 pre-push 時のテストコマンドを変更
  .pre-commit-config.yaml
Due: none

✨ ユーザー情報を dynamodb に登録する処理を追加
  src/my_func.py
Due: type checking

💚 テストコードのファイル名変更
  tests/test_main.py
Due: type checking

🆙 テスト用の依存関係を追加
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: type checking

💚 AWS リソースを mock する conftest を作成
  tests/conftest.py
Due: type checking

💚 既存の自動テストを修正
  tests/test_main.py
Due: type checking

💚 ユーザー追加部分の自動テストを追加
  tests/test_add_user.py
Due: type checking

💚 テスト用のヘルパー関数を作成
  tests/helpers.py
Due: type checking

💚 DB への接続失敗を模倣する自動テストを追加
  tests/test_main.py
Due: type checking

🚀 DynamoDB 接続時のタイムアウトを設定
  src/my_func.py
Due: type checking

💪 print を aws-powertools の logger に置き換え
  src/my_func.py
Due: type checking

💪 client error については詳細部分をログ出力するように修正
  src/my_func.py
Due: type checking

😇 既存のエラーのステータスコード誤りを修正
  src/my_func.py
Due: type checking

💚 ダミーの lambdacontext を使用するようにテストを修正
  tests/test_main.py
Due: type checking

💚 テスト用にダミーの LambdaContext クラスを定義
  tests/test_main.py
Due: type checking

💚 print 消し忘れを修正
  tests/test_add_user.py
Due: type checking

🆙 trace 用のライブラリを追加
  pyproject.toml
  uv.lock
Due: none

👮 trace 追加
  src/my_func.py
Due: type checking

✨ [#10] 署名付き URL を発行する処理を作成
  src/my_func.py
Due: type checking

💚 テストに必要な環境変数を追加
  .env.test
Due: none

✨ 生成した署名付き URL を DB に保存するように変更
  src/my_func.py
Due: type checking

💚 ユーザー登録処理のテストの際に、ダミーの署名付き URL を使用するように修正
  tests/conftest.py
  tests/test_add_user.py
Due: type checking

🆙 boto3-stubs[ses] を追加
  uv.lock
  vendored/boto3_stubs_custom-1.40.45-py3-none-any.whl
  vendored/types_boto3_custom-1.40.45-py3-none-any.whl
Due: none

💪 循環参照を避けるために、tracer を別ファイルに切り出し
  src/my_func.py
  src/tracer.py
Due: type checking

✨ SES 経由でメール送信する処理を実装
  src/send_email.py
Due: type checking

✨ メール送信処理をメイン関数に統合
  src/my_func.py
Due: type checking

😇 typo 修正
  src/my_func.py
Due: type checking

💚 テスト用の依存関係を明示的に追加
  pyproject.toml
  uv.lock
Due: none

💚 テスト用の環境変数を追加
  .env.test
Due: none

💚 テスト終了後に送信済みメッセージの確認を行うヘルパー関数を作成
  tests/helpers.py
Due: type checking

💚 既存のテスト (OK パターンのみ) を修正
  tests/test_main.py
Due: type checking
